/*All CSS targeting classes should go here*/

/*App*/
.appContainer {
	margin: 0;
	display: flex;
	flex-direction: column;
	box-shadow: 2px 2px 10px var(--lightGrey), -2px -2px 10px var(--lightGrey);
}

.instructionsContainer {
	margin: 2rem 0;
}

.instructionsContainer p,
.instructionsContainer ul {
	margin-bottom: 1rem;
}

.wcagRequirementsList {
	margin-left: 20px;
}

.colorInputContainer {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
}

.addColorInputBtnContainer {
	display: flex;
	margin: 0.5rem 0 2rem;
	column-gap: 0.5rem;
}
.addColorInputBtnContainer .addColorBtn {
	background-color: var(--text);
	color: #ffffff;
}
.addColorInputBtnContainer .resetBtn {
	background-color: var(--grey);
	color: #000;
	display: flex;
	align-items: center;
	gap: 5px;
}
.resetIcon {
	stroke-width: 15px;
}

.contrastInfoCardsContainer {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
}

/* Delete button */
.deleteButton {
	position: absolute;
	top: 0.95rem;
	left: 158px;
	background: white;
	border-radius: var(--borderRadius);
	height: 1rem;
	padding: 0;
	box-shadow: none;
	display: flex;
	align-items: center;
}

.sr-only {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/*Media queries*/
@media (min-width: 730px) {
	.appContainer {
		width: 730px;
		margin: 0 auto;
	}
}

@media (min-width: 1200px) {
	.appContainer {
		width: 1080px;
	}
}
